main {
  height: 100vh;
  background: url(../img/pattern-hills.svg) no-repeat 0 bottom;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 15vh;
  position: relative;
}

main h1 {
  margin-bottom: 100px;
  color: #fff;
  text-transform: uppercase;
}

main .countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

main .time-elem {
  position: relative;
  color: #fb6087;
  margin-right: 20px;
  height: 80px;
  width: 100px;
  background-color: #33354d;
  border-radius: 10px;
  text-align: center;
  font-size: 4.3em;
  overflow: hidden;
  -webkit-box-shadow: 0px 8px 0px 0px #16151d;
          box-shadow: 0px 8px 0px 0px #16151d;
}

main .time-elem::before,
main .time-elem::after {
  content: '';
  position: absolute;
  z-index: 6;
  top: calc(50% - 5px);
  background: #000;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

main .time-elem::before {
  left: -5px;
}

main .time-elem::after {
  right: -5px;
}

main .time-elem > span {
  position: absolute;
  left: 0;
  right: 0;
}

main .top {
  z-index: 3;
  background-color: #2a2a41;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: perspective(200px);
          transform: perspective(200px);
}

main .time-elem .top::after,
main .time-elem .bottom-back::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #24242e;
}

main .bottom {
  z-index: 1;
}

main .bottom::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100px;
  height: 50%;
  background-color: #33354d;
}

main .bottom-back {
  z-index: 2;
  top: 0;
  height: 50%;
  overflow: hidden;
  background-color: #33354d;
}

main .bottom-back span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

main .top,
main .top-back {
  height: 50%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

main .top-back {
  z-index: 4;
  bottom: 0;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  background-color: #33354d;
  -webkit-transform: perspective(200px) rotateX(180deg);
          transform: perspective(200px) rotateX(180deg);
}

main .top-back span {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  margin: auto;
}

@media screen and (max-width: 700px) {
  .countdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */