main {
  height: 100vh;
  background: url(../img/pattern-hills.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20vh;
}