main {
  height: 100vh;
  background: url(../img/pattern-hills.svg) no-repeat 0 bottom;
  background-size: contain;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20vh;

  h1 {
    margin-bottom: 100px;
    color: #fff;
    text-transform: uppercase;
  }

  .countdown {
    display: flex;
    flex-flow: row nowrap;
  }

  .time-elem {
    position: relative;
    margin-right: 20px;
    color: hsl(345, 95%, 68%);
    height: 80px;
    width: 100px;
    background-color: hsl(235, 28%, 25%);
    border-radius: 10px;
    text-align: center;
    font-size: 5em;
    overflow: hidden;
  }
}
